<div id="mislider" >
  <!--<img src="assets/images/AngularBanner0.png" alt="Imagen por defecto" style="width:100%;height:234px;">-->
  <h1>{{sMiTitulo}}</h1>
  <!--<a href="*" class="btn-white" *ngIf=" !size || size=='big'" >Registro</a>-->
</div>

<!--
  <div id="slider" class="slider-big" [ngClass]="{
  'slider-big': !size || size == 'big',
  'slider-small': size == 'small'
}">

  <a href="*" class="btn-white" *ngIf=" !size || size=='big'" >Registro</a>
  <a [routerLink]="['/formReg']" class="btn-white" *ngIf=" !size || size=='big'" >Registro</a>
</div>
-->


