<header id="header">
  <div class="center">
          <!--LOGO-->
          <div id="logo">
                  <img src="assets/images/AngularLogo1.png" class="app-logo" alt="Logotipo">
                   <span id="brand">
                           <strong>App</strong>Vanguardia
                   </span>
          </div>
          <!--MENU-->
          <nav id="menu">
                   <ul>
                           <li>
                              <!--Forma de hacerlo en angular-->
                              <!--routerLinkActive es una directiva que usa el css-->
                              <a [routerLink]="['/home']" [routerLinkActive]="['active']" >Inicio</a>

                              <!--Esto es unicamente en HTML5-->
                              <!-- <a href="index.html">Inicio</a>-->

                           </li>
                           <li>
                              <!--<a [routerLink]="['/blog']" [routerLinkActive]="['active']" >Blog</a>-->
                              <!--<a href="blog.html">Blog</a>-->
                              <a href="*">Blog</a>
                           </li>
                           <li>
                              <a [routerLink]="['/formulario']" [routerLinkActive]="['active']" >Formulario</a>
                              <!--<a href="formulario.html">Formulario</a>-->
                           </li>
                           <li>
                              <a [routerLink]="['/pagina1']" [routerLinkActive]="['active']" >Pagina 1</a>
                              <!--<a href="#">Pagina 1</a>-->
                           </li>
                           <li>
                              <a [routerLink]="['/pagina2']" [routerLinkActive]="['active']" >Pagina 2</a>
                              <!--<a href="#">Pagina 2</a>-->
                           </li>
                           <li>
                               <a [routerLink]="['/pagina3']" [routerLinkActive]="['active']" >Pagina 3</a>
                                <!--<a href="#">Pagina 3</a>-->
                           </li>
                   </ul>
          </nav>
          <!--Limpiar flotados-->
          <div class="clearfix"></div>
  </div>
</header>
